html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

html,
body,
ol,
ul {
    margin: 0;
    padding: 0;
}

body {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}

table {
    border-spacing: 0;
}

td {
    vertical-align: top
}

input,
textarea {
    outline: none
}

textarea {
    resize: none;
    overflow: hidden;
}



/**
 * selected effect
 */

.col-head-line,
.row-head-line,
.selected-container,
.selected-container .bg,
.clip-container,
.datasource-container,
.rulesource-container,
.sequence {
    transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
    -o-transition: .2s;
}



/**
 * adjust row or col effect
 */

.col-head-item,
.row-head-item,
.row,
.col {
    transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
}



/**
 * end
 */


/**
 * main layout
 */

.main-layout {
    position: absolute;
    bottom: 30px;
    width: 100%;
    z-index: 99;
    top: 0px
}

.cui-grid {
    background: #fff;
}

.left-corner {
    border-width: 0 1px 1px 0;
    border-color: #bfbfbf;
    border-style: solid;
    height: 19px;
    width: 36px;
}

.row-head-container,
.col-head-container {
    position: relative;
    font-family: "Microsoft Yahei", sans-serif;
    font-size: 10pt;
    overflow: hidden;
    z-index: 11;
}

.col-head-bg {
    border-bottom: 1px solid #bbb;
}

.row-head-bg {
    border-right: 1px solid #bbb;
    height: inherit
}

.col-head-height {
    height: 19px;
}

.row-head-width {
    width: 36px;
}

.col-head-panel,
.row-head-panel {
    position: relative;
    height: inherit;
    width: inherit;
    z-index: 9;
}

.col-head-item,
.row-head-item {
    position: absolute;
    cursor: inherit;
    overflow: hidden;
    background-color: white
}

.row-head-item {
    border-bottom: 1px solid #bfbfbf;
    width: inherit;
}

.col-head-item {
    border-right: 1px solid #bfbfbf;
    height: inherit;
}

.col-head-item:hover,
.row-head-item:hover {
    background: #9fd5b7 !important;
}

.col-head-item.active,
.row-head-item.active {
    background: #e1e1e1;
    color: #217346;
    font-weight: 700;
}

.col-head-item .item,
.row-head-item .item {
    vertical-align: middle;
    text-align: center;
    width: inherit;
    height: inherit;
}

.row-head-line,
.col-head-line {
    z-index: 10;
    border: 2px solid #217346;
    position: absolute;
}

.row-head-line {
    border-right-width: 0;
    right: 0;
    width: 0;
    margin-top: -1px
}

.col-head-line {
    border-bottom-width: 0;
    bottom: 0;
    height: 0;
    margin-left: -1px;
}

.scroll-container {
    overflow: auto;
}

.cells-container {
    position: relative;
}

.line-container {
    width: inherit;
    height: inherit;
    position: absolute;
    left: 0;
    top: 0;
}

.row-container,
.col-container {
    width: inherit;
    height: inherit;
    position: absolute;
}

.row,
.col {
    border-bottom: 1px solid #d4d4d4;
    position: absolute;
}

.row {
    width: inherit;
    border-top: 1px solid transparent;
}

.col {
    border-right: 1px solid #d4d4d4;
    border-left: 1px solid transparent;
    height: inherit;
}

.cell-group {
    position: relative;
    height: inherit;
    width: inherit;
}

.cell {
    position: absolute;
    overflow: hidden;
    cursor: default;
    border: 1px solid transparent;
    font-size: inherit;
    font-family: inherit;
    padding: 1px;
    margin: 1px;
    width: inherit;
    height: inherit;
    background-clip: padding-box;
}

.cell-content {
    display: table-cell;
    height: inherit;
    width: inherit;
}

.selected-container,
.datasource-container,
.clip-container,
.rulesource-container {
    position: absolute;
    margin: -1px;
    overflow: hidden;
}

.datasource-container,
.clip-container,
.rulesource-container {
    border: 2px dashed #217346;
}

.datasource-container .box,
.clip-container .box,
.rulesource-container .box {
    background: #ddd;
    height: inherit;
    opacity: 0.35;
}

.selected-container {
    border: 2px solid #217346;
}

.selected-container .box {
    position: relative;
    height: inherit;
}

.selected-container .box .bg {
    background: #141414;
    opacity: .24;
    height: 100%;
}

.selected-container .box .expand {
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 3px;
    height: 3px;
    z-index: 2;
    background: #217346;
    border: 1px solid #fff;
    cursor: crosshair;
}

.edit-frame {
    position: absolute;
    border: 2px solid #217346;
    margin: 0;
    padding: 3px;
    z-index: 1000;
    background: #fff;
    font-family: 'SimSun' !important
}



/**
 * end
 */


/**
 * sheet layout
 */

.sheet-layout {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

.sheet-body {
    background: #f1f1f1;
    padding-left: 36px;
    padding-bottom: 4px;
    overflow: hidden;
}

.sheet-cf-box {
    border-width: 1px;
    height: 14px;
    padding: 6px 12px;
    float: left;
}

.sheet-cf-box.active {
    background: #fff;
}

.sheet-cf-list {
    float: left;
    overflow: hidden;
    margin-left: 20px;
}

.sheet-list {
    overflow: hidden;
    max-width: 800px;
}

.sheet-list li {
    float: left;
    padding: 3px 17px;
    height: 18px;
    border: 2px solid #ccc;
    border-top-width: 0;
    cursor: default;
}

.sheet-list li.last {
    border-right-width: 2px;
}

.sheet-list li.active {
    background: #fff;
    border-bottom-color: #216347;
}

.sheet-list li.active span {
    color: #216347;
}

.sheet-list li span {
    font-family: 'Microsoft Yahei';
    font-size: 10pt;
    display: block;
}



/**
 * end
 */

.mask {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}

.mask-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 1000;
    opacity: 0.7;
}

.mask-text {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1001;
    font-weight: bold;
    font-size: 35px;
    margin-left: -109px;
    margin-top: -23px
}



/**
 * adjust row, col module
 */

.temp-space-container {
    position: relative;
    height: inherit;
    width: inherit;
}

.col-space-container,
.row-space-container {
    position: absolute;
    z-index: 98;
}

.col-space-container {
    top: 0;
    bottom: 0;
    border-right: 1px solid #217346;
}

.row-space-container {
    left: 0;
    right: 0;
    border-bottom: 1px solid #217346;
}



/**
 * end
 */


/**
 * frozen module
 */

.frozen-right-border {
    border-right: 1px dashed rgb(48, 116, 72);
}

.frozen-bottom-border {
    border-bottom: 1px dashed rgb(48, 116, 72);
}

.container {
    position: relative;
    overflow: hidden;
}



/**
 * end
 */


/**
 * comment module
 */

.comment {
    position: absolute;
    font-size: 16px;
    border: 1px solid gray;
    background-color: white;
    z-index: 1000;
    resize: none;
    box-shadow: 2px 3px 7px #888;
}

.comment-ico {
    top: 0px;
    right: 0px;
    position: absolute;
    height: inherit;
    width: inherit;
}

.comment-ico .triangle {
    position: absolute;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3px;
    border-color: red red transparent transparent;
}



/**
 * end
 */


/**
 * sequence
 */

.sequence {
    position: absolute;
    background: #fff;
}

.sequence-btn {
    position: absolute;
    top: -15px;
    width: 14px;
    height: 14px;
    background-color: #f3f5f9;
    border: 1px solid #a6acb3;
}

.sequence-btn.sequence-btn-right {
    right: -17px;
}

.sequence-btn.sequence-btn-left {
    left: -17px;
}

.sequence-btn:active {
    background-color: #e4e8ed;
}

.sequence-btn-arrow {
    vertical-align: middle;
    width: 0;
    height: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6px;
    border-top: 4px solid #6d6f71;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.sequence-list {
    display: none;
    margin-top: 2px;
    max-height: 200px;
    border: 1px solid #d4d4d4;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.sequence-list.active {
    display: block;
}

.sequence-list-item a {
    display: block;
    height: 20px;
    text-decoration: none;
    color: #000;
}

.sequence-list-item a:hover {
    background-color: #ebebec;
}




/**
 * end
 */


/**
 *highlight extend module
 */

.highlight-container {
    position: absolute;
    border: 2px solid transparent;
    margin: -1px;
    overflow: hidden;
    z-index: 99;
}

.highlight-right {
    border-right: 2px solid red;
}

.highlight-left {
    border-left: 2px solid red;
}

.highlight-top {
    border-top: 2px solid red;
}

.highlight-bottom {
    border-bottom: 2px solid red;
}



/**
 * end
 */

.loadmark {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: url(../img/loading.gif) 50% 50% no-repeat rgba(255,255,255,0.5);
    z-index: 100;
}


/**
 * prompt-box
 */

.sheets-shadow{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.prompt-box{
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translate(-50%, 0);
    width: 300px;
    border: 5px solid #6b6d6b;
    z-index: 9999;
    padding: 0 25px 0 68px;
    margin-top: 1px;
    float: left;
    line-height: normal;
}
.promptError{
    color: #f90;
    background: #fff url(../img/uiStyle.gif) repeat-x 0px -130px;
}
.promptSuccess{
    color: #12d361;
    background: #fff url(../img/uiStyle.gif) repeat-x 0px -5px;
}
.prompt-left{
    position: absolute;
    left: 0;
    top: 0;
    width: 68px;
    height: 50px;
}
.prompt-text{
    text-align: center;
    line-height: 50px;
    font-size: 10pt;
    width: 324px;
    height: 50px;
    position: absolute;
    left: 68px;
    top: 0;
}

/**
 * end
 */

.other-color{
    border-top: 1px #ccc solid;
    padding:6px;
    background:#e1e1e1;
    cursor: pointer;
}


