.siderbar {
    background: #F5F5F5;
    border: 1px solid #d4d4d4;
    overflow: hidden;
    position: absolute;
    right: 0px;
    top: 0px;
    box-sizing: border-box;
    height: 100%;
    z-index: 1000;
}

.siderbar-title {
    padding: 8px 8px;
    background: #fff;
    border-bottom: 1px solid #d4d4d4;
    font-family: 'Microsoft Yahei', 'SimSun', 'sans-serif';
    font-size: 14px;
    overflow: hidden;
    vertical-align: top;
    line-height: 40px;
}

.siderbar-title .close {
    float: right;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.siderbar-body {
    margin: 5px;
    overflow-x: hidden;
    overflow-y: auto;
}

.siderbar-item {
    margin-bottom: 5px;
    border-left: 2px solid #F58517;
    border-right: 1px solid #d4d4d4;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    background: #fff;
    padding: 5px 10px;
    font-size: 12px;
}

.siderbar-item .oper {
    float: right
}

.siderbar-item .confirm {
    cursor: pointer;
    background: #666;
    text-decoration: none;
    color: #fff;
    padding: 2px 5px;
    display: inline-block;
    border-radius: 3px;
    margin-right: 5px;
}


.siderbar-item .cancel {
    cursor: pointer;
    color: #6e6e6e;
    text-decoration: none;
    margin-right: 5px;
}

.lock-content .title {
    font-weight: bold;
}

.lock-content .title .lock-toggle {
    margin-left: 5px;
    vertical-align: bottom;
}

.lock-content .content {
    margin-top: 5px;
    margin-bottom: 15px;
    color: #6e6e6e;
}



.protect-content {
    overflow: hidden;
}

.protect-content .content {
    margin-top: 15px;
    margin-bottom: 5px;
    color: #6e6e6e;
}

.siderbar-checkbox {
    position: relative;
    display: inline-block;
    height: 12px;
    width: 12px;
    background: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    border-radius: 2px;
}

.siderbar-checkbox:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.siderbar-checkbox.checked {
    background: #e9ecee;
}

.siderbar-checkbox.checked:after {
    content: "\e013";
    display: block;
    font-family: 'Glyphicons Halflings';
    font-size: 12px;
    font-weight: 100;
    color: black;
    position: absolute;
    bottom: 0;
    right: 0;
}

.siderbar-checkbox.half-checked:after {
    content: "\e074";
    display: block;
    font-family: 'Glyphicons Halflings';
    font-size: 13px;
    font-weight: 100;
    color: black;
    position: absolute;
    vertical-align: baseline;
    bottom: -1px;
    right: 0px;
}


.validate-title{
    font-weight: bold;
}

.validate-content{
    margin-top: 10px;
    margin-bottom: 5px;
    color: #6e6e6e;
}

.validate-content label{
    display: inline-block;
    width: 50px;
    padding-right: 5px;
    margin: 5px 0;
    text-align: right;
}


.validate-content .source{
    position: relative;
}
.validate-content .source.active{
    display: block;
}
.validate-content .select-out{
    position: absolute;
    top: 6px;
    right: 18px;
    width: 16px;
    height: 16px;
    background: url('../img/select_out.png');
    cursor: pointer;
}
.validate-content .select-out.on{
    background: url('../img/select_out_on.png');
}

.error {
    display: none;
}
.error.active {
    display: block;
    text-align: right;
    margin-right: 5px;
    color:#d44950;
}


.clearfix:after{
    content: " ";
    display: block;
    height: 0;
    font-size: 0;
    visibility: hidden;
    clear: both;
}