li { list-style: none; }
@font-face { font-family: 'Glyphicons Halflings'; src: url('../fonts/glyphicons-halflings-regular.eot'); src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg'); }
.glyphicon-plus:before { content: "\2b"; }
.glyphicon-th-list:before { content: "\e012"; }
.glyphicons { font-family: 'Glyphicons Halflings'; color: #555; font-size: 12px; }
.topBar { background: #e1e1e1; height: 30px; overflow: hidden;}
.toolBar { font-size: 9pt; font-family: 'Microsoft Yahei', 'SimSun', 'sans-serif'; background: #fafafa; border-bottom: 1px solid #e1e1e1; height: 130px; position: relative;}
.file-control, .fui-control-list, .download{ float: left; }
.file-control span { background: #217346; color: #fff; padding: 7px 20px; height: 16px; display: block; cursor: default; }
.fui-control-list { height: 30px; }
.fui-control-list li { float: left; }
.fui-control-list li span { padding: 7px 12px; color: #000; height: 16px; display: block; cursor: default; }
.fui-control-list .active { background: #fafafa; color: #217346; }
.fui-control-list li span:hover { color: #217346; }
.download span { padding: 7px 12px; color: #000; height: 16px; display: block; cursor: default; }
.download span:hover { color: #217346; }
.excel-name { margin-left: 100px; float: left; }
.excel-name .textarea { width: 134px; height: 16px; padding: 4px 12px; margin: 3px 0; overflow: hidden; }
.fui-cf-ico { background: url('../img/funcBg.png'); }
.fui-cf-extend-ico { background: url('../img/funcExtend.png'); }
.fui-cf-bg-extend-ico { background: url('../img/funcBgExtend.png'); }
.fui-cf-comment-ico { background: url('../img/comment.png'); }
.fui-cf-bg-extend2-ico { background: url('../img/funcBgExtend2.png'); }
.fui-section { border: 1px solid #fafafa; }
.caret { display: inline-block; width: 0; height: 0; vertical-align: middle; border-top: 3px dashed; border-right: 3px solid transparent; border-left: 3px solid transparent; }
.fui-group { display: inline-block; }
.fui-separator, .fui-container { display: inline-block; }
.fui-separator { height: 80px; border-right: 1px dashed #c6c6c6; margin: 0 6px; display: inline-block; }
.fui-layout { vertical-align: top; }
span { display: inline-block; }
.fui-cf-text { margin: 0 3px; }
.fui-title { text-align: center; height: 15px; }
.fui-cf-desc { text-align: center; padding: 3px 0 0 0; }
.ico-paste { background-position: -137px -1px; width: 32px; height: 32px; }
.ico-shear { background-position: -225px 16px; width: 16px; height: 16px; }
.ico-copy { background-position: -136px -72px; width: 16px; height: 16px; }
.ico-weight { width: 16px; height: 16px; background-position: -136px -89px; }
.ico-italic { width: 16px; height: 16px; background-position: -207px 18px; }
.ico-underline { width: 16px; height: 16px; background-position: -138px -106px; }
.ico-borderbottom { width: 16px; height: 16px; background-position: -1px -137px; }
.ico-bordertop { width: 16px; height: 16px; background-position: -19px -173px; }
.ico-borderleft { width: 16px; height: 16px; background-position: -1px -173px; }
.ico-borderright { width: 16px; height: 16px; background-position: -55px -173px; }
.ico-bordernone { width: 16px; height: 16px; background-position: -37px -173px; }
.ico-borderall { width: 16px; height: 16px; background-position: -163px -145px; }
.ico-borderouter { width: 16px; height: 16px; background-position: -73px -173px; }
.ico-fillbg { width: 16px; height: 16px; background-position: 25px 64px; }
.ico-fillcolor { width: 16px; height: 16px; background-position: -19px 72px; }
.ico-aligntop { width: 16px; height: 16px; background-position: -173px -109px; }
.ico-alignmiddle { width: 16px; height: 16px; background-position: -55px -137px; }
.ico-alignbottom { width: 16px; height: 16px; background-position: -173px -91px; }
.ico-alignleft { width: 16px; height: 16px; background-position: -173px -73px; }
.ico-aligncenter { width: 16px; height: 16px; background-position: -73px -137px; }
.ico-alignright { width: 16px; height: 16px; background-position: -173px -55px; }
.ico-wordwrap { width: 16px; height: 16px; background-position: -180px -126px; }
.ico-undo{width: 16px; height: 16px; background-position: -114px -170px; }
.ico-redo{width: 16px; height: 16px; background-position: -96px -170px; }
.ico-commentadd {width: 32px; height: 32px; background-position: -1px -35px; }
.ico-commentedit {width: 32px; height: 32px; background-position: -1px -1px; }
.ico-commentremove {width: 32px; height: 32px; background-position: -35px -1px; }
.ico-insert{width: 32px; height: 32px; background-position: -137px -69px; }
.ico-delete{width: 32px; height: 32px; background-position: -35px -1px; }
.ico-regiondelete{width: 16px; height: 16px; background-position: -163px -189px; }
/*.ico-text {
    width: 32px;
    height: 32px;
    background-position: -35px -1px;
}*/
.ico-combincells { width: 16px; height: 16px; background-position: -37px -137px; }
.ico-frozencol { width: 32px; height: 32px; background-position: 0 0; }
.ico-frozenrow { width: 32px; height: 32px; background-position: 32px 0; }
.ico-frozencustomized { width: 32px; height: 32px; background-position: -32px 0; }
.ico-currency { width: 32px; height: 32px; background-position: -35px -69px; }
.ico-percent { width: 32px; height: 32px; background-position: -103px -103px; }
.ico-date { width: 32px; height: 32px; background-position: -103px -69px; }
.ico-numeric { width: 32px; height: 32px; background-position: -69px -1px; }
.ico-routine { width: 32px; height: 32px; background-position: -35px -1px; }
.ico-text { width: 32px; height: 32px; background-position: -1px -103px; }
.ico-lock { width: 32px; height: 32px; background: url('../img/lock.png');}
.fui-alone { margin: 6px 0 0 0; }
.fui-transverse { margin: 6px 0 2px 0; }
.fui-transverse-model { padding: 2px; }
.fui-section.active,.fui-transverse-model.active { border-color: #9fd5b7; background: #9fd5b7; }
.section { border: 1px solid #e1e1e1; }
.section:hover, .section.active { border-color: #9fd5b7; }
.ico-section { padding: 3px 5px; height: 16px; overflow: hidden; }
.ico-section.first { margin-left: 0; }
.ico-section:hover, .fui-section:hover { background: #d3f0e0; }
.ico-section.active, .fui-section.active { background: #9fd5b7; }
.ico-section a { display: inline-block; }
.fui-body { height: 75px; }
.font-list { font-size: 12pt; }
.font-list li:hover, .widget-menu li:hover { background: #9fd5b7; cursor: default; }
.font-list li span { margin: 3px; padding: 3px; margin-right: 50px; }
.ico-section-ico { float: left; }
.ico-section-rightarrow { margin-left: 2px; }
.fui-cf-alone { margin: auto; }
.fui-cf-fontfamily { width: 120px; }
.fui-cf-fontsize { width: 30px; }
.fui-cf-fontfamily-extend, .fui-cf-fontsize-extend { width: 6px; }
.fui-cf-fontsize-extend .caret, .fui-cf-fontfamily-extend .caret { margin-top: -3px; }
.fui-cf-fontfamily-extend.active, .fui-cf-fontsize-extend.active { background: #9fd5b7; }
.tab-container { overflow: hidden; padding: 1px 4px 8px; cursor: default; }
.color-body { width: 18px; height: 18px; border: 1px solid #fff; margin: 0 1px;}
.color-body:hover { border-color: #e36c09; }
.widget { font-family: 'Microsoft Yahei'; font-size: 12px; position: absolute; min-width: 75px; background: #fff; z-index: 100;}
.widget.active { display: block; }
.version { float: right; height: 30px; margin-right: 30px; line-height: 30px; color: #aaa; }